/* Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  
    /*========== Colors ==========*/
    --off-white-color: rgb(248, 248, 245);
    --charcoal-color: #1a1818;
    --blue-color: #669DBA;
    --lightblue-color: #B8D0DD;
    --gradient: linear-gradient(to bottom, var(--lightblue-color) 50%, var(--blue-color));

  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
  
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-heavy: 600;
  
    /*========== z index ==========*/
    --z-fixed: 100;
}

/*=============== RESPONSIVE TYPOGRAPHY ===============*/
@media screen and (min-width: 1150px) {
    :root {
      --normal-font-size: 1rem;
    }
  }

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--off-white-color);
}

main {
    overflow-x: hidden;
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
}

/*=============== Nav ===============*/

.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--off-white-color);
    z-index: var(--z-fixed);
    padding: 0px 30px 0px 30px;
}
    
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.nav-logo-container {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 50px;
}

.nav-close, 
.nav-toggle {
    display: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.nav-link {
    position: relative;
    color: var(--charcoal-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    transition: opacity .4s;
}

.nav-link i {
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.nav-link span {
    position: relative;
    transition: margin .4s;
}

.nav-link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: var(--charcoal-color);
    transition: width .4s ease-out;
}

.nav-link:hover span {
    margin-left: 2.5rem;
}

.nav-link:hover i {
    opacity: 1;
    visibility: visible;
}

.nav-link:hover span::after {
    width: 100%;
}

.nav-list:has(.nav-link:hover) .nav-link:not(:hover) {
    opacity: .4;
}

.nav-social {
    display: flex;
    column-gap: 1.5rem;
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.nav-social-link {
    color: var(--charcoal-color);
    font-size: 1.5rem;
    transition: transform .4s;
}

.nav-social-side {
    display: none;
}

/*=============== Nav links non-mobile ===============*/
@media screen and (min-width: 851px) {
    .nav-hidden .nav-item {
        opacity: 0;
        transform: translateY(-30%);
        transition: opacity 1s, transform 1s;
    }

    .show-animate .nav-item {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-hidden .nav-logo {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 1s, transform 1s;
    }

    .show-animate .nav-logo {
        opacity: 1;
        transform: translateX(0);
    }

    .nav-hidden .nav-social-link {
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 1s, transform 1s;
    }

    .show-animate .nav-social-link {
        opacity: 1;
        transform: translateX(0);
    }

    .nav-social-link:hover {
        transition: transform 0.5s;
        transform: translateY(-.25rem);
    }
}

/*=============== Nav Mobile ===============*/
@media screen and (max-width: 850px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        background-color: var(--charcoal-color);
        width: 100%;
        height: 100%;
        padding: 6vh 3.5vw 4.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: left .4s;
    }

    .nav-item {
        transform: translateX(-150px);
        visibility: hidden;
        transition: transform .4s ease-out, visibility .4s;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        padding-left: 2vw; 
        margin-top: 20vh;
        margin-bottom: 6vh;
    }

    .nav-link {
        color: var(--off-white-color);
    }

    .nav-link:hover span::after {
        width: 100%;
        background: var(--off-white-color);
    }

    .nav-social {
        display: none;
    }

    .nav-social-side {
        display: flex;
        gap: 2rem;
        padding-left: 2vw; 
        margin-top: 6vh; 
    }

    .nav-social-link-side {
        color: var(--off-white-color);
        font-size: 1.5rem;
        transition: transform .4s;
    }
    
    .nav-social-link-side:hover {
        transform: translateY(-.25rem);
    }

    .nav-item:nth-child(1) {
        transition-delay: .1s;
    }
    .nav-item:nth-child(2) {
        transition-delay: .2s;
    }
    .nav-item:nth-child(3) {
        transition-delay: .3s;
    }
    .nav-item:nth-child(4) {
        transition-delay: .4s;
    }
    .nav-item:nth-child(5) {
        transition-delay: .5s;
    }

    .nav-toggle {
        display: flex;
        color: var(--charcoal-color);
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-close {
        display: flex;
        color: var(--off-white-color);
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.show-menu {
    left: 0;
}

.show-menu .nav-item {
    visibility: visible;
    transform: translateX(0);
}


/*=============== HERO ===============*/
.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

   
.intro {
    font-size: clamp(60px, 10vw, 100px);
    font-weight: 900;
    text-decoration: none;
    background: linear-gradient(to bottom, var(--charcoal-color) 50%, var(--lightblue-color) 50%, var(--blue-color));;
    background-size: 100% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animateBackground 2s ease-out forwards;
}

@keyframes animateBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% -100%;
    }
}

@media (max-width: 850px) {
    .hero-text-container {
        padding-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .intro {
        text-align: center;
    }
}

/*=============== TypeWriter ===============*/

.typewriter-container{
    display: flex;
    align-items: center;
  }

  .typewriter-container .typewriter-text{
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  .typewriter-container .static-text{
    font-size: 80px;
    margin-right: 5px;
  }

  .typewriter-text li{
    list-style: none;
    color: var(--charcoal-color);
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 16s steps(4) infinite;
  }

  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .typewriter-text li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .typewriter-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--off-white-color);
    border-left: 2px solid var(--charcoal-color);
    animation: 
        typing 4s steps(10) infinite,
        cursor .4s step-end infinite alternate;
  }

  @keyframes typing {
    40%, 60%{
      left: 100%;
    }
    100%{
      left: 0;
    }
  }

  @keyframes cursor {
    0%, 100% {
      border-color: var(--charcoal-color);
    }
    50% {
      border-color: transparent;
    }
  }

/*=============== TypeWriter medium ===============*/

  @media (max-width: 950px) and (min-width: 701px) {
    .typewriter-container{
        display: flex;
        align-items: center;
      }
    
      .typewriter-container .typewriter-text{
        height: 75px;
        line-height: 75px;
        overflow: hidden;
      }
    
      .typewriter-container .static-text{
        font-size: 75px;
        margin-right: 5px;
      }
    
      .typewriter-text li{
        list-style: none;
        color: var(--charcoal-color);
        font-size: 50px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
      }
    
      @keyframes slide {
        100%{
          top: -300px;
        }
      }
      .typewriter-text li span{
        position: relative;
        margin: 5px 0;
        line-height: 75px;
      }
  }

  /*=============== TypeWriter mobile ===============*/

  @media (max-width: 700px) {
    .typewriter-container{
        display: flex;
        align-items: center;
      }
    
      .typewriter-container .typewriter-text{
        height: 60px;
        line-height: 60px;
        overflow: hidden;
      }
    
      .typewriter-container .static-text{
        font-size: 60px;
        margin-right: 5px;
      }
    
      .typewriter-text li{
        list-style: none;
        color: var(--charcoal-color);
        font-size: 40px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
      }
    
      @keyframes slide {
        100%{
          top: -240px;
        }
      }
      .typewriter-text li span{
        position: relative;
        margin: 5px 0;
        line-height: 60px;
      }
}

/*=============== About me ===============*/
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 100px 30px 0px 30px;
}

.about-title {
    color: var(--charcoal-color);
    font-size: clamp(30px, 5vw, 45px);
    font-weight: var(--font-heavy);
}

.about-title h1 {
    position: relative;
}

.about-title h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 4px; 
    background: var(--gradient);
    border-radius: 6px;
}

.hidden .about-title{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-60%);
    transition: opacity 0.8s, filter 0.8s, transform 0.8s;
}

.show-animate .about-title{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden .about-text{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(60%);
    transition: opacity 1s, filter 1s, transform 1s;

}

.show-animate .about-text{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: var(--font-normal);
    text-align: center;
}

.about-text span {
    font-weight: var(--font-heavy);
    font-size: 1.3em;
    padding-right: 10px;
    align-self: flex-start;
    color: var(--charcoal-color);
}

.about-text p {
    display: flex;
    align-items: center;
    margin: 0;
    color: var(--charcoal-color);
    font-size: clamp(1em, 1.8vw, 1.2em);
}

.about-text p span {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 800px) {
    .about-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .about-text {
        padding: 0px 20px 0px 20px;
        text-align: center;
    } 
}

/*=============== Skills ===============*/

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.skills-title {
    color: var(--charcoal-color);
    font-size: clamp(30px, 4vw, 40px);
    padding-bottom: 35px;
}

.hidden .skills-title {
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: scale(0.8);
}

.show-animate .skills-title {
    opacity: 1;
    transform: scale(1);
}

.hidden .skills-box:nth-child(1) {
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: scale(0.8);
    transition-delay: 0.3s;
}

.show-animate .skills-box:nth-child(1) {
    opacity: 1;
    transform: scale(1);
}

.hidden .skills-box:nth-child(1)::after {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 0.37s;
}

.show-animate .skills-box:nth-child(1)::after {
    opacity: 1;
}

.hidden .skills-box:nth-child(2) {
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: scale(0.8);
    transition-delay: 0.45s;
}

.show-animate .skills-box:nth-child(2) {
    opacity: 1;
    transform: scale(1);
}

.hidden .skills-box:nth-child(2)::after {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    transition-delay: 0.53s;
}

.show-animate .skills-box:nth-child(2)::after {
    opacity: 1;
}

.hidden .skills-box:nth-child(3) {
    opacity: 0;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform: scale(0.8);
    transition-delay: 0.6s;
}

.show-animate .skills-box:nth-child(3) {
    opacity: 1;
    transform: scale(1);
}

.skills-title h1 {
    position: relative;
}

.skills-title h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 4px; 
    background: var(--gradient);
    border-radius: 6px;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    transition: all 0.8s;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    width: clamp(350px, 26vw, 450px);
    height: clamp(300px, 20vw, 400px);
    padding: 1rem;
    position: relative;
    transition: scale 0.3s ease-in-out;
}

.box-container:hover {
    scale: 1.05;
}


.skills-box:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -18px;
    width: 6px;
    height: 100%;
    background: var(--gradient);
    border-radius: 20px;
}

.skills-box i {
    font-size: 2rem;
}

.skills-box h2 {
    font-size: 1.5rem;
}

.skills-box p {
    font-size: 1rem;
}

@media (max-width: 1113px) and (min-width: 851px) {
    .skills-box:nth-child(1)::after {
        top: 0;
        bottom: auto;
        left: auto;
        right: -18px;
        width: 6px;
        height: 100%;
        background: var(--gradient);
    }

    .skills-box:nth-child(2)::after {
        display: none;
    }
}

@media (max-width: 850px) {
    .box-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .skills-box:not(:last-child)::after {
        top: auto;
        bottom: -18px;
        left: 0;
        right: 0;
        width: 100%;
        height: 6px;
    }
}


/*=============== Experience ===============*/
.experience-section {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.experience-hidden::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--gradient);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    height: 0%;
    transition: height 6s linear;
}

.experience-hidden.show-animate::after {
    height: 100%;
}

.timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    opacity: 0;
}

.experience-hidden .timeline-container:nth-child(1) {
    opacity: 0;
    transform: translateY(-30px);
    transition-delay: 0s;
    transition: opacity 1s linear, transform 1s linear;
}

.show-animate .timeline-container:nth-child(1) {
    opacity: 1;
    transform: translateY(0px);
}

.experience-hidden .timeline-container:nth-child(2) {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s linear, transform 1s linear;
    transition-delay: 2.5s;
}

.show-animate .timeline-container:nth-child(2) {
    opacity: 1;
    transform: translateY(0px);
}

.experience-hidden .timeline-container:nth-child(3) {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 1s linear, transform 1s linear;
    transition-delay: 5s;
}

.show-animate .timeline-container:nth-child(3) {
    opacity: 1;
    transform: translateY(0px);
}

.timeline-text {
    padding: 20px 30px;
    position: relative;
    background: white;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.timeline-container img {
    position: absolute;
    width: 60px;
    border-radius: 50%;
    right: -80px;
    top: 32px;
    z-index: 2;
}

.right-container img {
    left: -80px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 50px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 50px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .experience-section {
        margin: 50px auto;
    }

    .experience-section::after {
        left: 40px;
    }

    .timeline-container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .timeline-text {
        font-size: 13px;
    }

    .timeline-text small {
        margin-bottom: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container img, .right-container img {
        left: -70px;
    }

    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid white;
        border-left: 0;
        left: -15px;
    }
}


/*=============== Projects ===============*/
.projects-content {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.projects-title {
    display: flex;
    justify-content: center;
    color: var(--charcoal-color);
    font-size: clamp(30px, 4vw, 40px);
    padding-bottom: 35px;
}

.hidden .projects-title {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-5%);
}

.show-animate .projects-title {
    opacity: 1;
    transform: translateX(0);
}

.projects-title h1 {
    position: relative;
}

.projects-title h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 4px; 
    background: var(--gradient);
    border-radius: 6px;
}

.projects-container {
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding: 0px 80px 20px 80px;
    grid-gap: 20px;
    transition: .2s linear;
}

.card {
    background: linear-gradient(135deg, var(--off-white-color), white);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--charcoal-color);
    max-width: 100%;
    cursor: pointer;
}

.hidden .card:nth-child(1) {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-20%);
    transition-delay: 0.2s;
}

.show-animate .card:nth-child(1) {
    opacity: 1;
    transform: translateX(0);
}

.hidden .card:nth-child(2) {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-120%);
    transition-delay: 0.3s;
}

.show-animate .card:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

.hidden .card:nth-child(3) {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-120%);
    transition-delay: 0.4s;
}

.show-animate .card:nth-child(3) {
    opacity: 1;
    transform: translateX(0);
}

.hidden .card:nth-child(4) {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-120%);
    transition-delay: 0.5s;
}

.show-animate .card:nth-child(4) {
    opacity: 1;
    transform: translateX(0);
}

.card-img {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card .card-img:after {
    background-image: linear-gradient(135deg, white, skyblue);
}

.card-img img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease;
}

.card-img {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 200px; 
    width: 350px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease;
}

.card:hover .card-img img {
    transform: scale(1.2);
}

.card-details {
    padding: 20px 10px;
}

.card-details h3 {
    color: var(--charcoal-color);
    font-weight: var(--font-medium);
    font-size: 22px;
    transition: color 0.3s ease;
}

.card-details p {
    color: gray;
    font-weight: var(--font-regular);
    padding-top: 5px;
    font-size: 14px;
}

.card:hover .card-details p {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 2;
    display: none;
}

.popup .overlay-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--off-white-color);
    width: 600px;
    height: 500px;
    z-index: 2;
    text-align: center;
    border-radius: 20px;
}

.content {
    display: flex;
    height: 100%;
}

.content img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.content .text {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.content .close-button {
    font-size: 2rem;
    display: flex;
    justify-content: end;
    padding-right: 20px;
    cursor: pointer;
}

.content h1 {
    color: var(--charcoal-color);
    font-weight: var(--font-heavy);
    font-size: 2rem;
    transition: all 0.8s ease-in-out;
}

.content p {
    color: var(--charcoal-color);
    font-weight: var(--font-regular);
    font-size: 1rem;
    padding: 70px 10px 0px 10px;
    transition: all 0.8s ease-in-out;
}

.content a {
    padding: 10px 20px;
    margin: 100px 40px 0px 40px;
    color: var(--charcoal-color);
    font-size: 1em;
    font-weight: var(--font-medium);
    border-radius: 10px;
    font-size: 1rem; 
    border: 4px solid transparent;
    background-image: linear-gradient(var(--off-white-color), var(--off-white-color)),
                      var(--gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.8s ease-in-out;
}

.content a:hover {
    background-image: var(--gradient),
                      var(--gradient);
}


@media (max-width: 800px) {
    .popup .overlay-container {
        width: 450px;
        height: 400px;
    }

    .content p {
        padding: 40px 10px 0px 10px;
    }

    .content a {
        padding: 8px 16px;
        margin: 20px 40px;
    }
}

.button:hover {
    background-color: var(--lightblue-color);
}

.popup.active .overlay {
    display: block;
}

.popup.active .overlay-container {
    transition: all 0.8s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 0px 20px var(--charcoal-color);
}

/*=============== Contact ===============*/
.footer {
    background: var(--off-white-color);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    overflow-y: hidden;
}

.hidden .footer-title{
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
}

.show-animate .footer-title{
    opacity: 1;
    transform: translateY(0);
}

.hidden .footer-title p {
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
    transition-delay: 0.15s;
}

.show-animate .footer-title p {
    opacity: 1;
    transform: translateY(0);
}

.hidden .footer-links {
    opacity: 0;
    transform: translateY(70%);
    transition: all 1s;
    transition-delay: 0.3s;
}

.show-animate .footer-links {
    opacity: 1;
    transform: translateY(0);
}

.footer-title h2 {
    font-size: 2.2rem;
    font-weight: var(--font-heavy);
}


.footer-title p {
    font-size: 1.4rem;
    font-weight: var(--font-medium);
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}
  
.footer-link {
    position: relative;
    font-size: 1.2rem;
    color: var(--charcoal-color);
}

.footer-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--gradient);
    transition: width 0.3s ease;
}

.footer-links a:hover::after {
    width: 100%;
}

.email {
    font-size: 2rem;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .footer {
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
    }

    .footer-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

